.App {
  /*text-align: center;*/
  background: radial-gradient(circle , #0776aa, #03122c);
  text-align: center;
 
 /* background: radial-gradient(circle , #0776aa, #03122c); */
  min-height: 100vh;
}

.memgraph {
  outline-width: 5px;
  outline-style: solid;
  position: absolute;
  left: 50%;
  width: 50%;
  height: 60%;
}

body {
  margin: 0; /* Removes default body margin */
}
